@import url("https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container-uni {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

.row-uni {
  display: flex;
  flex-wrap: wrap;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.img-40 {
  width: 40%;
}

.img-50 {
  width: 50%;
}

.img-60 {
  width: 60%;
}

.img-90 {
  width: 90%;
}

.img-120 {
  width: 120%;
}

.img-140 {
  width: 140%;
}

.img-fluid-uni {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.img-overlay {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-center {
  justify-content: center;
}

nav {
  background-color: #CC7F91;
  height: 130px;
}
nav ul {
  justify-content: flex-end;
  margin-bottom: 0px;
}
nav ul li {
  padding: 30px;
}
nav ul li a {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #702F43;
  font-size: 1.5rem;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-none-lg {
  display: none;
}

.nav-link {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #702F43;
  font-size: 1.5rem;
}

.dropdown-item {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  color: #702F43;
}

.p-20 {
  padding-left: 20px;
}

.user-none-lg {
  display: none;
}

.cart {
  position: relative;
}
.cart_number {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -1px;
  right: -10px;
  background: #702F43;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}
.cart.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.banner-section {
  background-color: #F0C7CD;
}

.banner-title {
  letter-spacing: 100px;
  line-height: 1.3;
  margin-bottom: 11px;
  font-weight: 100;
  padding: 50px 0px 50px 60px;
  font-size: 80px;
  font-family: "Gambetta", serif;
  color: #702F43;
}

.banner-title-2 {
  letter-spacing: 20px;
  line-height: 1.3;
  margin-bottom: 11px;
  font-weight: 100;
  padding: 50px 0;
  font-size: 80px;
  font-family: "Gambetta", serif;
  color: #702F43;
}

.page-top {
  position: fixed;
  bottom: 30px;
  background-color: #F0C7CD;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: #702F43;
  font-family: "Noto Sans TC", sans-serif;
  right: -80px;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.page-service {
  position: fixed;
  bottom: 120px;
  background-color: #F0C7CD;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: #702F43;
  font-family: "Noto Sans TC", sans-serif;
  right: -80px;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.page-top.active {
  right: 30px;
  transform: rotate(360deg);
}

.page-service.active {
  right: 30px;
  transform: rotate(360deg);
}

input[type=submit], input[type=text], input[type=email], input[type=tel], textarea[name=message], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #702F43;
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  color: #702F43;
  box-sizing: border-box;
}

.container-contact input:focus {
  color: #702F43;
  outline: none;
}

.container-contact b {
  display: inline-block;
  color: #702F43;
  font-size: 1.5rem;
  margin: 15px 0;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 5px;
}

/* Set a style for all buttons */
.button-contact {
  background-color: #fbf4cf;
  /* color: white; */
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-contact:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  color: #702F43;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 5px;
  width: 100%;
  padding: 10px 18px;
  border: none;
  background-color: #702F43;
}

.signout_btn {
  color: #EADFD9;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 5px;
  width: 100%;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #702F43;
}

.signout_btn2 {
  color: #EADFD9;
  font-family: "Noto Sans TC", sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  background-color: #702F43;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 15%;
}

.container-contact {
  padding: 50px;
  background-color: #F0C7CD;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-contact {
  border-radius: 8px;
  background-color: #CC7F91;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
footer {
  background-color: #702F43;
  padding: 10px 0 20px 0;
}

.row-nowrap {
  display: flex;
  padding: 20px auto;
}

.footer-list {
  margin: 30px auto;
  text-align: center;
  line-height: 30px;
}

.container-uni-footer {
  max-width: 1920px;
  margin: auto;
}

footer .container-uni-footer .row-nowrap dt {
  margin: 30px auto;
}
footer .container-uni-footer .row-nowrap dt a {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 200;
  color: #EADFD9;
  font-size: 1.5rem;
}

footer .container-uni-footer .row-nowrap dd a img {
  padding: 10px;
}

.footer-a {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 200;
  color: #EADFD9;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .user-none {
    display: none;
  }

  .nav-fixed {
    position: relative;
    z-index: 1;
  }

  .user-none-lg {
    display: flex;
  }

  .navbar-nav {
    padding-top: 70px;
  }

  .row-nowrap {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-list {
    margin: 30px 30px;
  }

  .footer-list > dl {
    margin-bottom: 20px;
  }

  .nav-none {
    display: none;
  }

  .nav-item {
    background-color: #EADFD9;
  }

  .nav-item:hover {
    background-color: #B44A60;
  }
  .nav-item:hover a {
    color: #EADFD9;
  }

  .dropdown-menu {
    background-color: #CC7F91;
    padding: 0;
  }

  .dropdown:hover {
    background-color: #B44A60;
    color: #EADFD9;
  }

  .dropdown-item:hover {
    background-color: #B44A60;
    color: #EADFD9;
  }

  .nav-none-lg {
    display: block;
  }

  .banner-section {
    margin-top: 0px;
  }
}
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.fz-6 {
  font-size: 6em;
}

.fz-7 {
  font-size: 7em;
}

.fz-8 {
  font-size: 8em;
}

.fz-9 {
  font-size: 9em;
}

.fz-10 {
  font-size: 10em;
}

.mb-0-uni {
  margin-bottom: 0em;
}

.mb-1-uni {
  margin-bottom: 1em;
}

.mb-2-uni {
  margin-bottom: 2em;
}

.mb-3-uni {
  margin-bottom: 3em;
}

.mb-4-uni {
  margin-bottom: 4em;
}

.mb-5-uni {
  margin-bottom: 5em;
}

.mb-6-uni {
  margin-bottom: 6em;
}

.mb-7-uni {
  margin-bottom: 7em;
}

.mb-8-uni {
  margin-bottom: 8em;
}

.mb-9-uni {
  margin-bottom: 9em;
}

.mb-10-uni {
  margin-bottom: 10em;
}

.col-1-uni {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-2-uni {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-3-uni {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-4-uni {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-5-uni {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-6-uni {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-7-uni {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-8-uni {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-9-uni {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-10-uni {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-11-uni {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-12-uni {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 20px 15px;
}

.col-no-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
}

.col-no-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
}

.col-no-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
}

.col-no-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
}

.col-no-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
}

.col-no-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
}

.col-no-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
}

.col-no-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
}

.col-no-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
}

.col-no-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
}

.col-no-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
}

.col-no-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
}

@media (min-width: 768px) {
  .col-md-1-uni {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-2-uni {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-3-uni {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-4-uni {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-5-uni {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-6-uni {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-7-uni {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-8-uni {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-9-uni {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-10-uni {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-11-uni {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-12-uni {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 768px) {
  .col-md-no-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
  }

  .col-md-no-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
  }
}
@media (min-width: 1200px) {
  .col-lg-1-uni {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-2-uni {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-3-uni {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-4-uni {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-5-uni {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-6-uni {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-7-uni {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-8-uni {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-9-uni {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-10-uni {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-11-uni {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-12-uni {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 768px) {
  .order-md-1-uni {
    order: -1;
  }
}