/* :root {
    --primary-color: #702F43;
    --secondary-color: #CC7F91;
    --success-color: #B44A60;
    --write-color: #EADFD9;
    --font-h1: 54px;
    --font-h2: 42px;
    --font-noto: 'Noto Sans TC', sans-serif;
    --font-gam: 'Gambetta', serif;
} */

#body {
    margin: 0;
    padding-top: 6%;
    font-family: 'gambetta', 'noto sans tc';
    /* margin: 0; */
    background-color: #eadfd9;
}

/* ======麵包屑====== */

.breadcrumb {
    padding: 1% 0 1% 2%;
    margin-top: 2%;
    margin-left: 2%;
    list-style: none;
    /* background-color: #eee; */
}

.breadcrumb li {
    display: inline;
    font-size: 1.5rem;
    color: grey;
    font-size: bold;
}

.mainProductpage_href {
    text-decoration: none;
    /* color: #702f43; */
    color: #b44a60;
    /* color: #cc7f91;
    color: #EADFD9; */
}

ul.breadcrumb li+li:before {
    padding: 10px;
    color: black;
    content: "\003e";
}

ul.breadcrumb li a:not(.mainProductpage_href) {
    text-decoration: none;
    color: grey;
}

ul.breadcrumb li a:hover {
    /* color: #b44a60; */
    color: #cc7f91;
}

/* ======商品資訊====== */
.mainContainer {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 0;
    /* border: 1px red solid; */
}

.mainContainer img {
    object-fit: contain;
    align-items: start;
    width: 95%;
    display: block;
    cursor: pointer;
}

.imgOutsideContainer {
    width: 100%;
    padding: 0 1% 0 10%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
}

.imgLContainer {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 10%;
}
.imgLContainer div {
    margin-top: 5%;
}

.imgRContainer {
    width: 100%;
    margin-top: 3%;
    align-self: center;
    /* border: 1px red solid; */
}

.imgInfoContainer {
    padding: 0 15% 0 0;
    display: flex;
    flex-direction: column;
    /* border: 1px red solid; */
    justify-items: left;
    padding-bottom: 15%;
}

.imgInfoTitle {
    margin-top: 3%;
    font-size: 2rem;
    font-weight: bold;
}

.imgInfoText {
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.imgInfoTitle,
.imgInfoText,
.productInfoPrice {
    color: grey;
}

.productInfoPrice {
    font-size: 2rem;
    font-weight: bold;
    border-top: 0.5px solid rgba(128, 128, 128, 0.7);
    padding: 3% 0 4% 0;
}

.selectPackage {
    border: 1px solid rgba(128, 128, 128, 0.8);
    height: auto;
}

.selectPackage form {
    padding: 2% 2% 2% 2%;
    font-size: 1.5rem;
}

/* .selectPackage form div {
    font-weight: bold;
} */

.selectPackage>div:nth-child(1) {
    background-color: #cc7f91;
    font-size: 1.5rem;
    color: grey;
    padding-left: 1%;
}

.productCount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#productCount_minus,
#productCount_plus {
    font-size: 2.5rem;
    text-align: center;
    width: 100px;
    color: #b44a60;   
    cursor: pointer;
}

/* ======購物車按鈕====== */
.imgInfoContainer button {
    padding: 2% 5% 2% 5%;
    /* background-color: #cc7f91; */
    background-color: #b44a60;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%
}
#submit_form {
    margin-top: 8%;
}

/* ======分割線====== */
.hr_line {
    margin: 10% 6% 3% 6%;
}

/* ======產品描述====== */
.discriptionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

#tab1,
#tab2 {
    cursor: pointer;
    font-size: 2rem;
}

#tab1 {
    cursor: pointer;
    border-bottom: 5px solid #b44a60;
}

#tab2Content {
    display: none;
}

#tab1Content>h3,
#tab2Content>h3 {
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    text-align: center;
}

#tab1Content>p,
#tab2Content>p {
    font-size: 1.5rem;
    padding: 1% 7% 2% 7%;
    color: grey;
    text-align: center;
}

/* 推薦商品分隔線 */
.hr_second_line{
    margin: 5% 5% 3% 5%;
}
.recommend_product_p {
    text-align: center;
    font-size: 2rem;
}
.carousel {
    margin: 5% 0 5% 0;
    width: 100%;
    padding: 0 12%;
    position: relative;
    /* height: 300px; */
    /* overflow: hidden; */
}
.slider_width {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.slider_card {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    /* color: #b44a60; */
    font-weight: 600;
}
.slider_card div:nth-child(2) {
    color: gray;
    margin-top: 3%; 
}
.slider_card div:nth-last-child(1) {
    color: #b44a60;
    margin-top:3%;
}

.slider_card>img {
    object-fit: contain;
    width:75%
}
/* #carousel-button--prev {
    position: absolute;
    background-color: #eadfd9;
    border: none;
    top: 45%;
    left: 8%;
    font-size: 1.5rem;
}
#carousel-button--next {
    position: absolute;
    background-color: #eadfd9;
    border: none;
    top: 38%;
    left: 92%;
    font-size: 1.5rem;
} */

@media(max-width:767px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        /* border: red 1px solid; */
        width: 100%;
        justify-items: center;
    }

    .imgOutsideContainer {
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-rows: auto;
        padding: 0;
        /* border: red 1px solid; */
        width: 100%;
        grid-template-columns: none;
        padding: 0;
        height: 98%;
    }

    .imgLContainer {
        width: 100%;
        grid-row-start: 2;
        display: grid;
        padding: 0;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 6%;
        margin-left: 2%;
        padding: 0 4%;

    }

    .imgRContainer {
        grid-row-start: 1;
        margin-top: 0;
        margin-left: 10%;

    }

    .imgInfoContainer {
        text-align: center;
        padding: 0 5%;
    }
    .selectPackage div,
    .selectPackage label {
        font-size: 1rem;
    }
    

    .hr_line {
        margin-top: 180%;
    }

    .imgInfoTitle {
        margin-top: 3%;
        font-size: 2rem;
        font-weight: bold;
    }

    .imgInfoText {
        margin-top: 0%;
        margin-bottom: 5%;
        font-size: 1rem;
    }

    .discriptionContainer {
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        justify-items: center;
        margin-bottom: 5%;
        /* font-size: 2rem; */
        padding: 0 3%;
    }

    #tab1,
    #tab2 {
        cursor: pointer;
        font-size: 1.2rem;
    }

    #tab1Content>h3,
    #tab2Content>h3 {
        /* margin-left: 8%; */
        font-weight: bold;
        font-size: 1.2rem;
        padding-left: 5%;
    }

    #tab1Content>p,
    #tab2Content>p {
        font-size: 1rem;
        margin-left: 7%;
        padding: 2% 7% 2% 3%
    }

    .productCount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
}