<!DOCTYPE html>
<html lang="en">
<html lang="en">
<html lang="en">

<head>
    <meta charset="UTF-8">-
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/nav_footer.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/script.js"> </script>

</head>

<body style="background-color:#EADFD9;">
     <!-- nav -->
     <%- include("./nav.ejs") %>

      <img src="/pic/aboutUs/Vector 16.png" alt="" style="width: 100%;">
     

    <div class="container">
        <div class="row" style="padding: 20px;height: 600px;">
           
                    <div class="col-6  " >
                        <p id="abouttrand" >品牌由來</p>
                        <p id="aboutcontent1" class="justify-content-center "  >「Uni」 給你最獨特的選擇，讓每份禮品都帶「有你」最真誠的喜悅及祝福。Unidessert
                          將甜點及包裝做到兼容並蓄，可以依照個人喜好，選擇禮盒的產品及包裝方式，打造一個專屬於自己的禮盒。</p>
                    </div>
                    <div class="col-6 " style="background-color:#EADFD9;">
                        <img id="aboutpic" src="/pic/aboutUs/aboutpic.png" alt="" >
                      </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row " style="padding: 50px;">
            <div class="col-6">
                <img id="shoppic" src="/pic/aboutus/shop.jpg" alt="" >
            </div>
            <div class="col-6 " >
                <p id="aboutcontent2" class="me-auto  " >
                    實體門市位置：<br>
                    407台中市西屯區福星路593號<br>
                    聯絡方式<br>
                    電話：0970000984 <br>
                    信箱：unidessert@gmail.com <br>
                    官網：https://www.unidessert .com
                </p>
            </div>
        </div>
    </div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14559.584863280565!2d120.6463462!3d24.1753723!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346916217050bcff%3A0xca9a0848b6c87446!2z55-t6IW_5Lir6bm_6aSF5Lm-IOmAoueUsuW6lw!5e0!3m2!1szh-TW!2stw!4v1686662697192!5m2!1szh-TW!2stw"
        style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
    <img src="/pic/aboutUs/Vector 17.png" alt="" style="width: 100%;">

    <!-- footer -->
    <%- include("./footer.ejs") %>
</body>