<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniDessert</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/nav_footer.css">
  </head>
  <body>
    <footer>
      <div class="container-uni-footer">
        <div class="row-nowrap footer-list"> 
          <dl class="col-12-uni col-md-4-uni"> 
            <dt> <a href="./index.html"> <img class="w-25" src="/pic/index/uni_logo.png" alt=""></a></dt>
          </dl>
          <dl class="col-12-uni col-md-4-uni">
            <dt> 
              <dd><a class="footer-a">客服時間:週一至週五 8:30-5:30 </a></dd>
              <dd><a class="footer-a">客服專線:(04) 2327-2522  </a></dd>
              <dd><a class="footer-a">聯絡信箱:UniDessert@gmail.com  </a></dd>
            </dt>
          </dl>
          <dl class="col-12-uni col-md-4-uni"> 
            <dt class="mb-2-uni"> <a>社群平台 </a>
              <dd> <a href="#"><img src="/pic/index/Line.png" alt=""></a><a href="#"><img src="/pic/index/fb.png" alt=""></a><a href="#"><img src="/pic/index/ig.png" alt=""></a></dd>
            </dt>
          </dl>
        </div>
      </div>
    </footer>
    <a class="page-service" type="button" onclick="document.getElementById('id01').style.display='block'">客服</a>
    <a class="page-top" href="#">TOP</a>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="https://kit.fontawesome.com/99f06fddac.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"> </script>
  </body>
</html>