<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniDessert</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <%-include('nav') %>
    <section class="banner-section">
      <div class="container-uni">
        <div class="row-uni">
          <div class="col-12-uni text-center">
            <p class="text-center banner-title">有你甜點</p>
          </div>
          <div class="col-12-uni text-center"><img class="img-50 img-rounded" src=" /pic/index/product_info6.webp" alt=""></div>
          <div class="col-12-uni text-center">
            <p class="banner-title-2">UNIDESSERT</p>
          </div>
        </div>
      </div>
    </section>
    <section class="aboutus-section page-top-position">
      <div class="container-uni mb-2-uni"> 
        <div class="new-title"><a>關於我們</a></div>
        <div class="row-uni mb-5-uni">
          <div class="col-12-uni col-md-6-uni"><img class="img-fluid img-rounded" src=" /pic/index/product_info3.jpg" alt=""></div>
          <div class="col-12-uni col-md-6-uni">
            <p class="aboutus-title mb-1-uni">為何選UNI?</p>
            <p class="aboutus-text"> Uni 給你最獨特的選擇，讓每份禮品都帶「有你」最真誠的喜悅及祝福，可以依照個人喜好，選擇禮盒的產品及包裝方式，打造一個專屬於自己的禮盒。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="customize-section"> 
      <div class="container-uni"> 
        <div class="custom-title"> 
          <p class="text-center"> 客製禮盒選購流程</p>
          <p class="text-center text-h3"> 隨心搭配</p>
        </div>
        <ul class="row-uni text-center">
          <li class="col-md-1-uni"></li> 
          <li class="col-6-uni col-md-2-uni">
            <div class="custom-circle"></div>
            <p class="label"></p><span class="label-content mb-3-uni">1</span>
            <div class="new-text">
              <p class="doctor-title">選擇盒型</p>
            </div>
          </li>
          <li><img src="/pic/index/right.png" class="img-60 pt-5" alt="">
          </li>
          <li class="col-6-uni col-md-2-uni">
            <div class="custom-circle"></div>
            <p class="label"></p><span class="label-content mb-3-uni">2</span>
            <div class="new-text">
              <p class="doctor-title">挑選內容物</p>
            </div>
          </li>
          <li><img src="/pic/index/right.png" class="img-60 pt-5" alt="">
            <li class="col-6-uni col-md-2-uni">
              <div class="custom-circle"></div>
              <p class="label"></p><span class="label-content mb-3-uni">3</span>
              <div class="new-text">
                <p class="doctor-title">加購商品</p>
              </div>
            </li>
          <li><img src="/pic/index/right.png" class="img-60 pt-5" alt="">
          <li class="col-6-uni col-md-2-uni">
            <div class="custom-circle"></div>
            <p class="label"></p><span class="label-content mb-3-uni">4</span>
            <div class="new-text">
              <p class="doctor-title">計算禮盒價格</p>
            </div>
          </li><a class="row-nowrap bnt" href="./customize.html">
            <div class="col-no-4-uni bnt-style"> <img src=" /pic/index/love.png" alt=""></div>
            <div class="col-no-4-uni bnt-style"> 
              <p>開始客製</p>
            </div>
            <div class="col-no-4-uni bnt-style"><img src=" /pic/index/love.png" alt=""></div></a>
        </ul>
      </div>
    </section>
    <section class="product-section"> 
      <div class="container-uni mb-2-uni"> 
        <div class="new-title"><a>商品介紹</a></div>
      </div>
      <ul class="row-uni product-content"> 
        <li class="col-no-12-uni col-md-6 img-overlay"> <a class="product-pic" href="/product/single"><img class="img-90 img-fluid-uni" src=" /pic/index/product_info4.jpg" alt="">
            <div class="product-title">單品餅乾</div>
            <div class="product-title-2">VIEW ALL</div></a></li>
        <li class="col-no-12-uni col-md-6 img-overlay"> <a class="product-pic" href="/product"><img class="img-90 img-fluid-uni" src=" /pic/index/product_info4.jpg" alt="">
            <div class="product-title">七夕禮盒</div>
            <div class="product-title-2">VIEW ALL</div></a></li>
        <li class="col-no-12-uni col-md-6 img-overlay"> <a class="product-pic" href="/product"><img class="img-90 img-fluid-uni" src=" /pic/index/product_info4.jpg" alt="">
            <div class="product-title">經典禮盒</div>
            <div class="product-title-2">VIEW ALL</div></a></li>
        <li class="col-no-12-uni col-md-6 img-overlay"> <a class="product-pic" href="/customize"><img class="img-90 img-fluid-uni" src=" /pic/index/product_info4.jpg" alt="">
            <div class="product-title">客製禮盒</div>
            <div class="product-title-2">VIEW ALL</div></a></li>
      </ul>
    </section>
    <%-include('footer') %>
    <a class="page-top" href="#">TOP</a>
    <script src=" /js/bootstrap.bundle.js"></script>
    <script src=" /js/jquery-3.7.0.min.js"></script>
    <script src="https://kit.fontawesome.com/99f06fddac.js" crossorigin="anonymous"></script>
    <script src=" /js/script.js"> </script>
  </body>
</html>