<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>登入 0609</h1>
    <hr>
    <form action="/login" method="post">
        帳號：<input type="text" name="uemail" value="jennifer84@gmail.com">
        密碼：<input type="text" name="upwd" value="Abc123">
        <input type="submit">
    </form>
</body>
</html>