@import url('https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap');

    #toptitle{
        margin-bottom: -20px ;
        font-size: 2rem;
        margin-top: 150px;
        
    }
    
    .topbtn:hover {
        background-color: #eadfd9;

    }
    .topbtn{
        border-radius: 10px;
        border: 1px;
        width: 14rem;
        height: 3rem;
        margin: 10px ;
        font-size: 2rem;}

    #qaimg{
        margin: 10px auto;
        display: block;
    }

   .figure{
        max-width: 100%;
        height: auto;
    }

   .figure-caption{
    color: black;
    width: 1050px;
    line-height: 60px;
    max-width: fit-content; 
    }