<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    
</head>

<body>
    <div class="all">
        <%- include('backNav') %>
        <div class="content d-flex">
            <div class="container">
                <div class="me-auto">
                    <p class="text-end">
                        user01，您好！|
                        <a href="#">登出</a>
                    </p>
                </div>
                <div class="product d-flex">
                    <p class="fs-4">
                        產品列表
                    </p>

                    <table class="table fs-6 table-hover table-sm">
                        <thead class="text-center table-warning">
                            <tr>
                                <th scope="col">產品編號</th>
                                <th scope="col">產品名稱</th>
                                <th scope="col">縮圖</th>
                                <th scope="col">分類</th>
                                <th scope="col">產品單價</th>
                                <th scope="col">庫存</th>
                                <th scope="col">是否上架</th>
                                <th scope="col">編輯/刪除</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row">0001</th>
                                <td>檸檬磅蛋糕</td>
                                <td></td>
                                <td>蛋糕單品</td>
                                <td>80</td>
                                <td>25</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0002</th>
                                <td>磅蛋糕2</td>
                                <td></td>
                                <td>蛋糕單品</td>
                                <td>80</td>
                                <td>25</td>
                                <td>N</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0003</th>
                                <td>磅蛋糕3</td>
                                <td></td>
                                <td>蛋糕單品</td>
                                <td>70</td>
                                <td>25</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0004</th>
                                <td>磅蛋糕4</td>
                                <td></td>
                                <td>蛋糕單品</td>
                                <td>80</td>
                                <td>25</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0005</th>
                                <td>手工餅乾1</td>
                                <td></td>
                                <td>餅乾單包</td>
                                <td>90</td>
                                <td>10</td>
                                <td>N</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0006</th>
                                <td>手工餅乾2</td>
                                <td></td>
                                <td>餅乾單包</td>
                                <td>90</td>
                                <td>10</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0007</th>
                                <td>手工餅乾3</td>
                                <td></td>
                                <td>餅乾單包</td>
                                <td>90</td>
                                <td>10</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0008</th>
                                <td>手工餅乾4</td>
                                <td></td>
                                <td>餅乾單包</td>
                                <td>90</td>
                                <td>10</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0009</th>
                                <td>手工餅乾5</td>
                                <td></td>
                                <td>餅乾單包</td>
                                <td>90</td>
                                <td>10</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">0010</th>
                                <td>手工餅乾6</td>
                                <td></td>
                                <td>餅乾單包</td>
                                <td>90</td>
                                <td>10</td>
                                <td>N</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>