<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <style>
        @import url('https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap');

        html,
        body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: 'gambetta', 'noto sans tc';
        }

        .all {
            display: flex;
            height: 100%;
        }

        .backMenuFC {
            color: #702F43;
        }

        .side-menu {
            flex: 0 1 320px;
            padding: 50px 0;
            box-sizing: border-box;
            background-color: #EADFD9;
            display: flex;
            flex-direction: column;
        }

        .side-menu form {
            display: flex;
            margin: 0 20px 0 20px;
            height: 40px;
            border-radius: 10px;
            border: 2px solid rgba(112, 47, 67, 0.4);
        }

        .side-menu input,
        .side-menu button {
            border: none;
            /* padding: 10px 10px; */
            background-color: transparent;
            color: rgb(112, 47, 67);
        }

        .dropdown-toggle {
            border: none;
            padding: 10px 10px;
            margin-right: 20px;
            margin-left: 20px;
            background-color: transparent;
            color: rgb(112, 47, 67);
        }

        .side-menu input:focus,
        .side-menu button:focus {
            outline: none;
        }

        .side-menu input {
            width: 200px;
        }

        .side-menu button {
            width: 80px;
            height: 40px
        }

        .backSearch {
            max-width: 40%;
            height: 20px;
            border: none;
            background-color: transparent;
            color: rgb(112, 47, 67);
        }

        .content {
            flex: 1 1 500px;
            overflow-y: overlay;
            padding: 10px 20px;
        }

        .content .product {
            display: flex;
            flex-wrap: wrap;
        }

        .text-first {
            color: #702F43;
        }

        .text-second {
            color: #B44A60;
        }

        .text-third {
            color: #CC7F91;
        }

        .btn-first {
            background-color: #702F43;
        }

        .btn-second {
            background-color: #B44A60;
        }

        .btn-third {
            background-color: #CC7F91;
        }

        .btn-first:hover {
            background-color: #702F43;
        }

        .btn-second:hover {
            background-color: #B44A60;
        }

        .btn-third:hover {
            background-color: #CC7F91;
        }
    </style>
</head>
<style>
    @import url('https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap');

    html,
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: 'gambetta', 'noto sans tc';
    }

    .all {
        display: flex;
        height: 100%;
    }

    .backMenuFC {
        color: #702F43;
    }

    .side-menu {
        flex: 0 1 320px;
        padding: 50px 0;
        box-sizing: border-box;
        background-color: #EADFD9;
        display: flex;
        flex-direction: column;
    }

    .side-menu form {
        display: flex;
        margin: 0 20px 0 20px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid rgba(112, 47, 67, 0.4);
    }

    .side-menu input,
    .side-menu button {
        border: none;
        /* padding: 10px 10px; */
        background-color: transparent;
        color: rgb(112, 47, 67);
    }

    .dropdown-toggle {
        border: none;
        padding: 10px 10px;
        margin-right: 20px;
        margin-left: 20px;
        background-color: transparent;
        color: rgb(112, 47, 67);
    }

    .side-menu input:focus,
    .side-menu button:focus {
        outline: none;
    }

    .side-menu input {
        width: 200px;
    }

    .side-menu button {
        width: 80px;
        height: 40px
    }

    .backSearch {
        max-width: 40%;
        height: 20px;
        border: none;
        background-color: transparent;
        color: rgb(112, 47, 67);
    }

    .content {
        flex: 1 1 500px;
        overflow-y: overlay;
        padding: 10px 20px;
    }

    .content .product {
        display: flex;
        flex-wrap: wrap;
    }

    .text-first {
        color: #702F43;
    }

    .text-second {
        color: #B44A60;
    }

    .text-third {
        color: #CC7F91;
    }

    .btn-first {
        background-color: #702F43;
    }

    .btn-second {
        background-color: #B44A60;
    }

    .btn-third {
        background-color: #CC7F91;
    }

    .btn-first:hover {
        background-color: #702F43;
    }

    .btn-second:hover {
        background-color: #B44A60;
    }

    .btn-third:hover {
        background-color: #CC7F91;
    }

    th,
    td {
        border: 1px solid black;
    }

    #adddatabtn {
        background-color: skyblue;
        border-radius: 10px;
        border: 1px;
        width: 10rem;
        height: 3rem;
        margin: 10px;
        font-size: 1.3rem;
        margin-left: 70%;
    }
    .backLogoTitle {
        text-decoration: none;
        color: #702F43;
    }
</style>
<script>
</script>

<body>
    <div class="all">
        <div class="side-menu">
            <a class="backLogoTitle" href="/">
                <div class="backMenuFC fw-bold fs-5 text-center me-1">
                    Unidessert<br>
                    有你甜點 - 後台系統
                </div>
            </a>


            <hr>
            <!-- Default dropend button -->
            <div class="btn-group dropend">
                <button onclick="window.open('/backOrder')" type="button" class="btn btn-danger">
                    訂單
                </button>
            </div>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    產品
                </button>
                <ul class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <li><a class="dropdown-item" href="/backProduct">產品列表</a></li>
                    <li><a class="dropdown-item" href="/backProductAdd">新增產品</a></li>
                </ul>
            </div>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    客製包裝
                </button>
                <ul class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <li><a class="dropdown-item" href="/backCustomize">客製列表</a></li>
                    <li><a class="dropdown-item" href="/backCustomizeAdd">新增客製產品</a></li>
                </ul>
            </div>
            <div class="btn-group dropend">
                <button onclick="window.open('/backMember')" type="button" class="btn btn-danger">
                    會員
                </button>
            </div>
            <div class="btn-group dropend">
                <button onclick="window.open('/backNews')" type="button" class="btn btn-danger">
                    NEWS
                </button>
            </div>
            <div class="btn-group dropend">
                <button onclick="window.open('/backQA')" type="button" class="btn btn-danger">
                    Q&A
                </button>
            </div>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    關於我們
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/backaboutUsname">品牌介紹</a></li>
                    <li><a class="dropdown-item" href="/backaboutUsdata">店舖資訊</a></li>
                </ul>
            </div>
        </div>
        <div class="content d-flex">
            <div class="container">
                <div class="me-auto">
                    <p class="text-end">
                        user01，您好！|
                        <a href="#">登出</a>
                    </p>
                </div>
                <div class="product d-flex">
                    <p class="fs-4">
                        客製產品列表
                    </p>

                    <table class="table fs-6 table-hover table-sm">
                        <thead class="text-center table-warning">
                            <tr>
                                <th scope="col">產品編號</th>
                                <th scope="col">產品名稱</th>
                                <th scope="col">縮圖</th>
                                <th scope="col">分類</th>
                                <th scope="col">產品單價</th>
                                <th scope="col">庫存</th>
                                <th scope="col">是否上架</th>
                                <th scope="col">編輯/刪除</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row">001</th>
                                <td>紙盒（4格）</td>
                                <td></td>
                                <td>客製包裝</td>
                                <td>80</td>
                                <td>25</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">002</th>
                                <td>紙盒（6格）</td>
                                <td></td>
                                <td>客製包裝</td>
                                <td>80</td>
                                <td>25</td>
                                <td>N</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">003</th>
                                <td>紙盒（9格）</td>
                                <td></td>
                                <td>客製包裝</td>
                                <td>70</td>
                                <td>25</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">004</th>
                                <td>鐵盒（4格）</td>
                                <td></td>
                                <td>客製包裝</td>
                                <td>80</td>
                                <td>25</td>
                                <td>Y</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">005</th>
                                <td>鐵盒（6格）</td>
                                <td></td>
                                <td>客製包裝</td>
                                <td>90</td>
                                <td>10</td>
                                <td>N</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">006</th>
                                <td>鐵盒（9格）</td>
                                <td></td>
                                <td>客製包裝</td>
                                <td>90</td>
                                <td>10</td>
                                <td>Y</td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <button class="btn align-items-center justify-content-around bg-light">1</button>
                <button class="btn align-items-center justify-content-around bg-light">2</button>
                <button class="btn align-items-center justify-content-around bg-light">3</button>
            </div>
        </div>
    </div>
</body>

</html>